<tr>
    <td>{{ bundle.vendor }}/{{ bundle.name }}</td>
    <td><a href="{{ bundle.repository }}" target="_blank">{{ 'bundles.link'|trans|desc('Link') }}</a></td>
    <td>{{ bundle.description }}</td>
    <td>{{ bundle.last_modified|date('m, d Y') }}</td>
</tr>
