{% trans_default_domain "edgarezuiinfobundles" %}

<div class="ez-table-header">
    <div class="ez-table-header__headline">{{ 'bundles.header'|trans({'%count%': info.pager.nbResults})|desc('Community bundles (%count%)') }}</div>
</div>
<table class="table">
    <thead>
    <tr>
        {% if info.bundles is empty %}
            {{ 'bundles.bundles.empty'|trans|desc('No community bundles registered.') }}
        {% else %}
            <th>{{ 'bundles.name'|trans|desc('Name') }}</th>
            <th>{{ 'bundles.repository'|trans|desc('Repository') }}</th>
            <th>{{ 'bundles.description'|trans|desc('Description') }}</th>
            <th>{{ 'bundles.last_modified'|trans|desc('Last modification') }}</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for bundle in info.bundles %}
        {% include '@EdgarEzUIInfoBundles/admin/systeminfo/bundles/table_row.html.twig' with { bundle: bundle } %}
    {% endfor %}
    </tbody>
</table>
<div class="row justify-content-center align-items-center">
    <h6>{{ 'search.viewing'|trans({'%viewing%': info.pager.currentPageResults|length, '%total%': info.pager.nbResults})|desc('Viewing %viewing% out of %total% sub-items') }}</h6>
</div>
{% if info.pager.haveToPaginate %}
    <div class="row justify-content-center align-items-center">
        {{ pagerfanta(info.pager, 'ez', {'routeName': 'ezplatform.systeminfo'}) }}
    </div>
{% endif %}

